p{
    font-family: "Roboto Light";
    margin-top: 0;
    margin-bottom: 0;
}
.video-title{
    /*font-family: Arial;*/
    font-weight: bolder;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    width: 400px;
    line-height: 40px;
    margin-bottom: 20px;
}

.video-stats{
    /*font-family: "Broadway";*/
    font-size: 25px;
    color: red;
    margin-bottom: 20px;
}

.video-author{
    /*font-family: Ari;*/
    font-size: 30px;
    color: blue;
    margin-bottom: 20px;
}

.video-description{
    /*font-family: Algerian;*/
    font-size: 30px;
    color: brown;
    width: 500px;
    line-height: 40px;
    margin-bottom: 30px;
}

.apple-text{
    margin-bottom: 40px;
    font-size: 20px;
    background-color: blue;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: underline;
}

.span-example{
    color: green;
    cursor: pointer;
    margin-left: 15px;
}

.span-example:hover{
    text-decoration: underline;
}

.shop-link{
    cursor: pointer;
}

.shop-link:hover{
    text-decoration: underline;
}

.tahoma{
    font-family: Tahoma;
    font-weight: bolder;
    font-size: 30px;
    padding-bottom: 20px;
}

.deal{
    font-family: Arial;
    font-weight: bolder;
    font-size: 30px;
}

.sale{
    font-family: Arial;
    color: red;
    font-style: italic;
    font-size: 20px;
    padding-bottom: 20px;
}

.coures{
    font-family: Verdana;
    font-weight: bolder;
    font-size: 20px;
}

.pro{
    font-family: Verdana;
    color: darkgray;
    padding-bottom: 20px;
}

.lorem10{
    font-family: Verdana;
    padding-bottom: 20px;
}

.btn-get{
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: Verdana;
    margin-bottom: 20px;
}

.chung{
    font-family: Arial;
    text-align: center;
}

.shop{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 15px;
}

.see{
    font-size: 20px;
    margin-bottom: 15px;
}

.learn{
    font-size: 15px;
    color: blue;
    margin-bottom: 15px;
}

.ef{
    text-align: center;
    font-family: Arial;
}

.new{
    color: orange;
    font-weight: bold;
    margin-bottom: 5px;
}

.mac{
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 5px;
}

.charge{
    font-weight: bolder;
    font-size: 50px;
    margin-bottom: 10px;
}

.dola{
    margin-bottom: 8px;
}

.btn-buy{
    background-color: blue;
    color: white;
    border-radius: 20px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    font-weight: bolder;
}

.fg{
    font-family: Arial;
}

.usd{
    margin-bottom: 10px;
}

.so{
    font-weight: bolder;
    font-size: 30px;
}
.usd1{
    text-transform: uppercase;
}

.today{
    color: green;
    margin-bottom: 10px;
}

.do{
    color: red;
}

.gh{
    font-family: Arial;
}

.free{
    font-weight: bolder;
}

.sit{
    color: blue;
}

.freecCC{
    margin-bottom: 10px;
}

.lorem10-1{
    margin-bottom: 20px;
}