.thumbnail{
    width: 100%;
    display: block;
}

.video-time{
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 5px;
}

/*.search-bar{*/
/*    font-size: 15px;*/
/*    margin-left: 5px;*/
/*    display: block;*/
/*    margin-bottom: 20px;*/
/*}*/

.cat1{
    width: 400px;
    height: 300px;
    border-radius: 20px;
}

.cat2{
    width: 350px;
    height: 300px;
    object-fit: cover;
}

.cat3 {
    width: 300px;
    height: 300px;
    border-radius: 200px;
    object-fit: cover;
}

.search-bar1{
    border-radius: 10px;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.search-bar2{
    border-radius: 20px;
    border: none;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 5px 5px 10px gray;
}

.search-bar3{
    border-radius: 4px;
    border-width: 2px;
    width: 40%;
}

.btn-join{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.in-name{
    display: block;
    margin-bottom: 5px;
}

.p-lorem{
    display: inline-block;
    width: 200px;
    vertical-align: middle;
}

.img-gg{
    margin-bottom: 5px;
    margin-left: 600px;
    width: 250px;
    height: 170px;
    display: block;
}

.in-gg{
    width: 600px;
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 10px gray;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    margin-left: 400px;
}

.in-name{
    margin-bottom: 10px;
}

.in-name1{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    border-radius: 10px;
    border-width: 1px;
}

.in-name2{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    border-radius: 10px;
    border-width: 1px;
}

.in-mail{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 190px;
    border-radius: 10px;
    display: block;
    margin-bottom: 10px;
    border-width: 1px;
}

.btn-sign{
    background-color: #2e92ba;
    color: white;
    border: none;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 160px;
    padding-right: 160px;
    font-weight: bolder;
    font-size: 15px;
}

.p-now{
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.in-loca{
    display: block;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 80px;
    border: none;
    background-color: lightgray;
}

.in-des{
    display: block;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 80px;
    border: none;
    background-color: lightgray;
    margin-bottom: 20px;
}

.btn-now{
    background-color: black;
    border: none;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
}

.btn-later{
    background-color: lightgray;
    border: none;
    color: black;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.div-example{
    display: inline-block;
}

.red{
    background-color: red;
    width: 200px;
    height: 200px;
}

.green{
    background-color: green;
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

.ex-9c{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width: 200px;
    padding-right: 200px;
    padding-left: 15px;
    padding-bottom: 20px;
}

.p-our{
    font-weight: bold;
}

.ex-9d{
    background-color: black;
    color: white;
    font-size: 20px;
    width: 400px;
    padding-top: 10px;
    padding-right: 200px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.p-add{
    color: #c4c1c1;
}

.img-cat{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    vertical-align: middle;
    object-fit: cover;
    margin-right: 10px;
}

.in-what{
    border: none;
    width: 300px;
    vertical-align: middle;
    font-size: 20px;
}

.btn-tweet{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
}

.profile{
    box-shadow: 5px 5px 10px gray;
    width: 200px;
    display: inline-block;
    margin-right: 20px;
}

.img-cat1{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.p-oli{
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.p-mufr{
    color: #878484;
    margin-left: 10px;
    margin-bottom: 10px;
}

.btn-addfr{
    background-color: deepskyblue;
    color: white;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.ex-9h{
    text-align: center;
}

.img-gg1{
    width: 300px;
    height: 200px;
}

.in-gg1{
    width: 600px;
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 10px gray;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 80px;
}

.in-gg-search{
    background-color: lightgray;
    color: black;
    font-weight: bold;
    border: none;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    margin-right: 10px;
    font-size: 15px;
}

.in-lucky{
    background-color: lightgray;
    color: black;
    font-weight: bold;
    border: none;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    font-size: 15px;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.channel-pic-container{
    position: relative;
    display: inline-block;
}

.channel-tooltip{
    background-color: white;
    width: 200px;
    padding: 12px 12px;
    box-shadow: 2px 3px 10px rgb(0, 0, 0, 0.5);
    border-radius: 6px;
    position: absolute;
    top: 50px;
    z-index: 100;

    opacity: 0;
    pointer-events: none;

    display: flex;
    align-items: center;
    transition: opacity 0.15s;
}

.channel-pic-container:hover .channel-tooltip{
    opacity: 1;
}

.picture{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 10px;
}

.name{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.stats{
    color: dimgray;
    font-size: 14px;
}

.profile-pic{
    width: 36px;
    border-radius: 20px;
}

.video-title-link{
    text-decoration: none;
    color: black;
}

.video-title{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}

.video-author{
    font-size: 14px;
    color: black;
    margin-bottom: 5px;
}

.video-stats{
    font-size: 14px;
    color: black;
}

p{
    margin-bottom: 0;
    margin-top: 0;
}

.p-oliver{
    font-weight: bold;
}

.btn-follow{
    background-color: deepskyblue;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
}

.img-cat2{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    object-fit: cover;
    vertical-align: middle;
    margin-right: 20px;
}

.p-10a{
    display: inline-block;
    vertical-align: middle;
    margin-right: 200px;
}

.ex-10b1{
    margin-bottom: 20px;
}

.ex-10b2{
    margin-bottom: 20px;
}

.video-preview1{
    margin-bottom: 20px;
}

.thumbnail-row1{
    display: inline-block;
}

.thumbnail1{
    width: 400px;
}

.video-des1{
    display: inline-block;
    vertical-align: top;
    width: 600px;
    margin-left: 20px;
}

.video-title1{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 40px;
}

.video-author1{
    font-size: 25px;
    margin-bottom: 10px;
    color: gray;
}

.video-stats1{
    font-size: 25px;
    color: gray;
}

.channel-pic1{
    display: inline-block;
    width: 50px;
    vertical-align: middle;
    margin-left: 10px;
}

.profile-pic1{
    width: 40px;
}

.p-mufr{
    display: inline-block;
    vertical-align: middle;
}

.layout-mufr{
    margin-bottom: 10px;
}

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
}

